<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Y Jewelry</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta id="description" name="description" content="Y is a Swiss brand with one mission; getting women to make jewelry look good - not the reverse." />
    <meta property="og:url" content="https://y.jewelry/" />
    <meta property="og:title" content="Y Jewelry" />
    <meta property="og:description" content="Y is a Swiss brand with one mission; getting women to make jewelry look good - not the reverse." />
    <meta property="og:locale" content="en_IN" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://y.jewelry/assets/img/open-graph.jpg" />
    <meta property="og:image:alt" content="Y Jewelry" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1800" />
    <meta property="og:image:height" content="1125" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])
    @Html.Raw(ViewData["Styles"])
</head>
<body>
    @Html.Raw(ViewData["SpaHtml"])

    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    <script type="text/javascript" src="~/dist/runtime.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/polyfills.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/styles.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/vendor.js"  asp-append-version="true"></script>
    <script type="text/javascript" src="~/dist/main.js"  asp-append-version="true"></script>
</body>
</html>
